@import './utils/variables';

body {
  color: $primary-text-color;
  background-color: $primary-bg;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}
@import './components/placeholder';
@import './components/header';
@import './components/logo';
@import './components/hero';
@import './components/features';
@import './components/wedo';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/footer-form';
// @import './components/portfolio';
@import './components/modal';
