.header {
  border-bottom: 1px solid #ececec;
  position: relative;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__container {
  @extend%content;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.header__mobile-menu {
  @media screen and (max-width: 767px) {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-200%);
    transition-property: transform, opacity;
    transition-duration: 600ms;
    transition-timing-function: $time-line;

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $primary-bg;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 88px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.header__mobile-menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $time-line;

  @media screen and (min-width: 767px) {
    display: none;
  }
}
.header__mobile-menu-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;

  fill: $primary-text-color;

  .header__mobile-menu-button:hover &,
  .header__mobile-menu-button:focus & {
    fill: $accent-color;
  }
}
.header__mobile-menu-icon .header__mobile-menu-close {
  display: none;
}
.header__mobile-menu-button.is-open .header__mobile-menu-close {
  display: block;
}
.header__mobile-menu-button.is-open .header__mobile-menu-open {
  display: none;
}

.header__menu {
  @extend%list-style-reset;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header__item {
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  // position: relative;
}

.header__link {
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $time-line;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  }
}
.header__link.current {
  position: relative;
  color: $accent-color;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    height: 4px;
    width: 100%;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
.header-contacts {
  @extend%list-style-reset;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.header-contacts__item {
  @media screen and (max-width: 767px) {
    text-align: center;
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.header-contacts__link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  color: $secondary-text-color;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $time-line;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
.header-contacts__icon {
  margin-right: 10px;
}
