.hero {
  height: 400px;
  max-width: 1600px;
  @media screen and (min-width: 1200px) {
    height: 600px;
  }
  // margin-left: auto;
  // margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-Image.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__container {
  @extend%content;
  height: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.4;
  }
}
.hero__button {
  display: block;
  padding: 10px 32px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: $accent-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $time-line;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
