.portfolio__container {
  @extend%content;
  padding-top: 60px;
  padding-bottom: 60px;
  //   padding-top: 94px;
  //   padding-bottom: 94px;
}
.portfolio__title {
  @extend%hidden;
}
.portfolio__filter-list {
  @extend%list-style-reset;
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.portfolio__filter-items:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio__filter-items:not(:nth-child(-n + 3)) {
    margin-top: 15px;
  }
}

.portfolio__filter-links {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  color: $primary-text-color;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $time-line;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio__content {
  z-index: 0;
  @extend%list-style-reset;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}
.portfolio__content-items {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:not(:nth-child(-n + 2)) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-child(-n + 3)) {
      margin-top: 30px;
    }
  }
}
.portfolio__content-images {
  @extend%image-fix;
  width: 100%;
  height: auto;
}
.portfolio__content-link {
  display: block;

  background: $primary-bg;
  border: 1px solid #eeeeee;
  text-decoration: none;
  padding-bottom: 20px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $time-line;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__content-title {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 24px;

  color: $primary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__content-type {
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 24px;

  color: $secondary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
.portfolio__content-overlay {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: $time-line;
    transform: translateY(100%);
  }
  .portfolio__content-link:hover &::before,
  .portfolio__content-link:focus &::before {
    opacity: 1;
    transform: translateY(0);
  }
}
.portfolio__content-description {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 24px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 1.555;
  color: #ffffff;
  opacity: 0;

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: $time-line;
  transform: translateY(100%);
  .portfolio__content-link:hover &,
  .portfolio__content-link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}
