.team {
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
  }

  background: $secondary-bg;
}
.team__container {
  @extend%content;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1, 17;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.2;
  }
}
.team__list {
  @extend%list-style-reset;
  margin-top: 30px;
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team__items {
  padding-bottom: 24px;

  background: $primary-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:not(:nth-child(-n + 2)) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.team__items-images {
  @extend%image-fix;
  width: 100%;
  height: auto;
}
.team__name {
  margin-top: 30px;
  margin-bottom: 0;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2x;
  text-align: center;
}
.team__position {
  margin-top: 10px;
  margin-bottom: 0;

  color: $secondary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2x;
  text-align: center;
}
.team__networks {
  @extend%list-style-reset;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team__networks-list:not(:last-child) {
  margin-right: 10px;
}
.team__networks-links {
  padding: 12px;

  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;

  fill: #afb1b8;

  transition-property: border-radius, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: $time-line;
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
    fill: #ffffff;
  }
}
